In [1]:
import pandas as pd
data=[1,2,3,4]
df=pd.Series(data)
print(df)

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
import pandas as pd
data={"Marks":[15,13,12],
"Subject":["DA","CC","Fome"]
     }
df=pd.DataFrame(data,index=["CS013","CS002","BM012"])
print(df)

       Marks Subject
CS013     15      DA
CS002     13      CC
BM012     12    Fome

In [14]:
import pandas as pd
data=pd.read_csv("transactions.csv")
print("get the row names:")
print(data.tail(5))

get the row names:
   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [18]:
data=pd.read_csv("transactions.csv")
print("get the row names:")
print(data.head())

get the row names:
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

In [19]:
data=pd.read_csv("transactions.csv")
print("get the row names:")
print(data.info())

get the row names:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes
None

In [17]:
data=pd.read_csv("transactions.csv")
print("get the row names:")
print(data.describe)

get the row names:
<bound method NDFrame.describe of    TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4>

In [21]:
data=pd.read_csv("transactions.csv")
print("get the row names:")
print(data.head(10))

get the row names:
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [22]:
print(df['Quantity']

SyntaxError: incomplete input (808684849.py, line 1)

In [24]:
data=pd.read_csv("transactions.csv")

print(data['Quantity'])

0    1
1    1
2    1
3    3
4    1
5    6
6    1
7    3
8    3
9    4
Name: Quantity, dtype: int64

In [26]:
data=pd.read_csv("transactions.csv")
print("get the row names:")
print(data[['Quantity','ProductID']])

get the row names:
   Quantity  ProductID
0         1          2
1         1          4
2         1          3
3         3          2
4         1          4
5         6          5
6         1          4
7         3          2
8         3          4
9         4          4

In [27]:
data=pd.read_csv("transactions.csv")
print("get the row names:")
print(data.iloc[3])

get the row names:
TransactionID               4
TransactionDate    2012-08-26
UserID                    1.0
ProductID                   2
Quantity                    3
Name: 3, dtype: object

In [29]:
data=pd.read_csv("transactions.csv")
print("get the rows with quantity > 2:")
filter=data[data['Quantity']>2]
print(filter)

get the rows with quantity > 2:
   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [37]:
data=pd.read_csv("transactions.csv")
data.rename(columns={"Quantity":"Quant"},inplace=True)
print(data)

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [41]:
data=pd.read_csv("transactions.csv")
print(data.isnull().sum())

TransactionID      0
TransactionDate    0
UserID             1
ProductID          0
Quantity           0
dtype: int64

In [44]:
data=pd.read_csv("transactions.csv")
df=data.sort_values(by=["Quantity","ProductID"],ascending=[True,False])
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
1              2      2011-05-26     3.0          4         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
2              3      2011-06-16     3.0          3         1
0              1      2010-08-21     7.0          2         1
8              9      2015-04-24     7.0          4         3
3              4      2012-08-26     1.0          2         3
7              8      2014-04-24     NaN          2         3
9             10      2016-05-08     3.0          4         4
5              6      2013-12-23     2.0          5         6

In [45]:
subset=data.iloc[[1,3.6]]
print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
1              2      2011-05-26     3.0          4         1
3              4      2012-08-26     1.0          2         3

In [46]:
subset=data.iloc[[1,3.4]]
print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
1              2      2011-05-26     3.0          4         1
3              4      2012-08-26     1.0          2         3

In [47]:
subset=data.iloc[[0,1,2]]
print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1

In [49]:
subset=data.iloc[[1,4,6,8]]
print(subset.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
1              2      2011-05-26     3.0          4         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3

In [50]:
data['TransactionDate']=pd.to_datetime(df['TransactionDate'])
print(data.dtypes)

TransactionID               int64
TransactionDate    datetime64[ns]
UserID                    float64
ProductID                   int64
Quantity                    int64
dtype: object

In [51]:
data['sri']=data['UserID']+data['ProductID']
print(data)

   TransactionID TransactionDate  UserID  ProductID  Quantity   sri
0              1      2010-08-21     7.0          2         1   9.0
1              2      2011-05-26     3.0          4         1   7.0
2              3      2011-06-16     3.0          3         1   6.0
3              4      2012-08-26     1.0          2         3   3.0
4              5      2013-06-06     2.0          4         1   6.0
5              6      2013-12-23     2.0          5         6   7.0
6              7      2013-12-30     3.0          4         1   7.0
7              8      2014-04-24     NaN          2         3   NaN
8              9      2015-04-24     7.0          4         3  11.0
9             10      2016-05-08     3.0          4         4   7.0

In [52]:
subset=data[data['Quantity']>1][['TransactionID','TransactionDate']]
print(subset)

   TransactionID TransactionDate
3              4      2012-08-26
5              6      2013-12-23
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [53]:
cl=['Quantity','TransactionID']
sub=data[cl]
print(sub)

   Quantity  TransactionID
0         1              1
1         1              2
2         1              3
3         3              4
4         1              5
5         6              6
6         1              7
7         3              8
8         3              9
9         4             10

In [57]:
columns_to_exclude = ['Quantity', 'ProductID']
subset_columns_excluded = data[[col for col in df.columns if col not
in columns_to_exclude]]
print(subset_columns_excluded)

   TransactionID TransactionDate  UserID
0  TransactionID      2010-08-21     7.0
1  TransactionID      2011-05-26     3.0
2  TransactionID      2011-06-16     3.0
3  TransactionID      2012-08-26     1.0
4  TransactionID      2013-06-06     2.0
5  TransactionID      2013-12-23     2.0
6  TransactionID      2013-12-30     3.0
7  TransactionID      2014-04-24     NaN
8  TransactionID      2015-04-24     7.0
9  TransactionID      2016-05-08     3.0

In [76]:
data=pd.read_csv("transactions.csv")
data.loc[len(data)] = [11, 2025-1-29,5,2,8]

print(data)

    TransactionID TransactionDate  UserID  ProductID  Quantity
0               1      2010-08-21     7.0          2         1
1               2      2011-05-26     3.0          4         1
2               3      2011-06-16     3.0          3         1
3               4      2012-08-26     1.0          2         3
4               5      2013-06-06     2.0          4         1
5               6      2013-12-23     2.0          5         6
6               7      2013-12-30     3.0          4         1
7               8      2014-04-24     NaN          2         3
8               9      2015-04-24     7.0          4         3
9              10      2016-05-08     3.0          4         4
10             11            1995     5.0          2         8

In [70]:
data=pd.read_csv("transactions.csv")
data.loc[data['UserID'] == 2, 'Quantity'] = 3
print(data)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         3
5              6      2013-12-23     2.0          5         3
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [80]:
data['share']=data['Quantity']+data['ProductID']
print(data)

    TransactionID TransactionDate  UserID  ProductID  Quantity  share
0               1      2010-08-21     7.0          2         1      3
1               2      2011-05-26     3.0          4         1      5
2               3      2011-06-16     3.0          3         1      4
3               4      2012-08-26     1.0          2         3      5
4               5      2013-06-06     2.0          4         1      5
5               6      2013-12-23     2.0          5         6     11
6               7      2013-12-30     3.0          4         1      5
7               8      2014-04-24     NaN          2         3      5
8               9      2015-04-24     7.0          4         3      7
9              10      2016-05-08     3.0          4         4      8
10             11            1995     5.0          2         8     10